.vscode/**
.vscode-test/**
.github/**
src/**
sample-test-project/**
out/test/**
.gitignore
vsc-extension-quickstart.md
esbuild.config.js
eslint.config.js
pnpm-lock.yaml
pnpm-workspace.yaml
prettier.config.mjs
**/tsconfig.json
**/*.map
**/*.ts
.prettierignore
